<div class="">
    <div class="H2SoFe LZgQXe TFhTPc">
        <div class="RAYh1e LZgQXe qmmlRd">
            <div class="RZBuIb">
            </div>
            <div class="xkfVF">
                <div class="" style="text-align: center;">
                    <img src="assets/images/successReg.png" style="width:12em;padding-top:2em" />
                </div>
                <div style="text-align: center;padding-top:2em;color:orange;">
                    <h3 style="border-bottom: 2px solid orange;">Employee Details has been registered successfully</h3>
                </div>
                <div class="" style="padding-top:5em;text-align:center">
                    <button type="button" style="margin-left:1em" class="btn btn-primary"
                        (click)="onClkRegister()">Register New Employee
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>